.home .full-screen {
    background: url('../../imagens/—Pngtree—dark\ blue\ geometric\ design\ with_15925568.jpg') center center no-repeat;
    min-height: 100vw;
    min-height: 86vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
}

.elemento {
    width: 600px;
    height: 250px;
    background-color: #0000004d;
    justify-content: center;
    border-radius: 15px;
}

.home .texto-home {
    letter-spacing: 2px;
    padding-top: 20px;
}

.redes-sociais{
    padding-top: 20px;
}




   