/* SOBRE MIM */
.sobre-mim .imagem-sobre-mim {    
    max-width: 35%;
    border: 1rem outset silver;
 
  box-shadow: 0rem 0rem 0rem 2rem rgb(1, 1, 70);
  border-radius: 12px;
  margin: 2rem;
  background-color: white;

}
.sobre-mim .row{
    margin: 2rem;
}
 
  
 


.sobre-mim .informacoes-sobre-mim {    
    max-width: 60%;
    padding: 0 25px;   
    align-self: center; 
    

    
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 20px;
}

@media(max-width: 1280px) { 
    .sobre-mim .row{
        justify-content: center;
    }

    .sobre-mim .imagem-sobre-mim {        
        max-width: 100%;
        padding: 0 var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {  
        padding: 0 var(--mobile-padding);
        text-align: center;
    }

    .sobre-mim .imagem-sobre-mim .inner-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@media(max-width:768px){
    .sobre-mim .informacoes-sobre-mim {  
        max-width: 100%;                   
    }
}