:root {
  --cor-primaria: #a8a8a8f1;
  --cor-secundaria: #7f7e7ef1;
  --cor-branca: #fff;
  --cor-fundo-escuro: #010146;
  --cor-fundo-principal: #137c84;
  --cor-preta: #000000;
}

:root {
  --fonte-primaria: 'Poppins', sans serif;
  --fonte-secundaria: 'Raleway', sans serif;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
  --fonte-pequena: 1.1rem;
}

:root {
  --mobile-padding: 2px;
}